# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnp/
.pnp.js

# testing
coverage/

# production
public/
!static/*
resources/

# misc
.DS_Store

# Local Netlify folder
.netlify/
/themes

# yml & toml config files
!*.yml
